body {
    background-image: url('Imagens/universe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: 0.5;

}


/* Estilo do H1 */
h1 {
    color: white;
    font-family: cursive;
    font-style: italic;
    font-size: 12rem;
    text-align: center;
    animation: mover 3s infinite alternate ease-in-out;
}

/* Animação: movimento suave para cima e para baixo */
@keyframes mover {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

ul {
    list-style: none;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

a {
    text-decoration: none;
    color: #dce6ff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background: #0f1b33;
    box-shadow: 0 0 10px rgba(150, 180, 255, 0.4);
    transition: background 0.3s, color 0.3s;
}